body{
    margin: 50px;

}

h1{
    color: rgb(202, 196, 157);
    text-align: center;
}

nav{
    font-size: large;
}

h2{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-emphasis-style: bold;
    text-decoration: rgb(127, 127, 224);
    text-align: center;
}
